<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrzegladarkaPlytMH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACC69DB31F8F40490039BA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACC69DC71F8F40490039BA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACC69DD21F8F40490039BA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
